<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.qrcodereader">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReaderActivity"
            android:label="SCANNER">
            <intent-filter>
                <action android:name="com.example.android.qrcodereader.ReaderActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".GeneratorActivity"
            android:label="GENERATOR">
        <intent-filter>
            <action android:name="com.example.android.qrcodereader.GeneratorActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>


        <activity android:name=".MainActivity"
            android:label="QR/BAR CODE">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>